*{
    margin: 0;
    font-size: small;
}   

header{
    background-color: #9cd6f4;
}

#logostyle{
    height: 30px;
    padding: 25px 10px;
}

.spaziatura{
    margin-top: 10px;
    padding: 25px 10px;
}

#heading{
    font-size: 30px;
    font-weight: bold;
}

.text{
    color: #808080;
    font-size: small;
}

#data{
    color: #808080;
    font-size: x-small;
}

img{
    height: 270px;
}

.caption{
    font-size: xx-small;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.paragraph{
    margin-top: 15px;
}

ul{
    padding-left: 15px;
}

table{
    text-align: left;
    margin-bottom: 15px;
}

thead{
    background-color: #7fa6fb;
    text-align: left;
    color: white;
}    

.right{
    width: 50%;
}

#diritti{
    background-color: #313a6b;
    text-align: center;
    padding: 10px;
    color: white;
}

.color{
    background-color: #dfe5f2;
}
